body {
    background-image: url('https://www.microchip.com/en-us/products/microcontrollers-and-microprocessors/8-bit-mcus/functional-safety/iec-61508-industrial-functional-safety/_jcr_content/root/responsivegrid/container_1787170232/isolatedimage/image.coreimg.jpeg/1668580297636/adobestock-216698934.jpeg');
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    z-index: 0;
}
.content {
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}
p {
    font-size: 1.4em;
    line-height: 1.6;
    margin-bottom: 20px;
}
.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
}
.btn:hover {
    background-color: #fff;
    color: #333;
}
.icon-container {
    margin-top: 30px;
}
.icon {
    font-size: 2.5em;
    margin: 20px;
    color: #fff;
    background-color: #4CAF50;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}
.icon:hover {
    background-color: #3e8e41;
    transform: scale(1.1);
}
.quote {
    font-style: italic;
    font-size: 1.2em;
    margin-top: 40px;
}
.company-info {
    margin-top: 50px;
}
.company-info p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.contact-info {
    font-size: 1.2em;
}
.contact-info i {
    margin-right: 10px;
}