{% extends "basePage.html" %}

{% block title %}Articulación{% endblock %}

{% block content %}


    <div class="glasses">
        <div class="container">
           <div class="row">
              <div class="col-md-10 offset-md-1">
                 <div class="titlepage">
                    <h2 id= "tituloDesarrolladores"></h2>
                    <p id= "p1"></p>
                 </div>
              </div>
           </div>
        </div>
        <div class="container-fluid">
           <div class="row">
            {% for base in bases %}
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
                  <div class="glasses_box">
                     <figure><img src="{{base.imagen}}" alt="#" width="200px"/></figure>
                     <p>{{ base.nombre }}</p>
                  </div>  
            </div>
            {%endfor%} 
            {% for hombro in hombros %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
               <div class="glasses_box">
                  <figure><img src="{{hombro.imagen}}" alt="#" width="200px" height="100px"/></figure>
                  <p>{{ hombro.nombre }}</p>
               </div>  
            </div>
            {%endfor%} 
            {% for codo in codos %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
               <div class="glasses_box">
                  <figure><img src="{{codo.imagen}}" alt="#" width="200px"/></figure>
                  <p>{{ codo.nombre }}</p>
               </div>  
            </div>
            {%endfor%}  
            {% for muneca in munecas %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
               <div class="glasses_box">
                  <figure><img src="{{muneca.imagen}}" alt="#" width="200px"/></figure>
                  <p>{{ muneca.nombre }}</p>
               </div>  
            </div>
            {%endfor%} 
            {% for pinza in pinzas %}
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
                  <div class="glasses_box">
                     <figure><img src="{{pinza.imagen}}" alt="#" width="200px"/></figure>
                     <p>{{ pinza.nombre }}</p>
                  </div>  
               </div>
            {%endfor%}          
            {% for pinza in pinzas %}
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
                  <div class="glasses_box">
                     <figure><img src="{{pinza.imagen}}" alt="#" width="200px"/></figure>
                     <p>{{ pinza.nombre }}</p>
                  </div>  
               </div>
            {%endfor%} 
         </div> 
      </div>
{% endblock %}