<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Servomotor</title>
</head>

<body>
    
    <h1>Control de Servomotor</h1>
    <h2>Video-Cámara de Brazo Robotico</h2>
        <img id="videoStream" src="http://10.20.136.120:81/stream" alt="Video Stream">
    <h2>Control Angulo Camara</h2>
    <form method="get" action="">
        <label for="camera">Camara:</label>
        <input type="range" id="camera" name="camera" min="0" max="180" value="90">
        <span id="anguloCam">{{ camera }}</span>

        <label for="base">Base:</label>
        <input type="range" id="base" name="base" min="0" max="180" value="90">
        <span id="anguloBas">{{ base }}</span>

        <button type="submit">Mover</button>
    </form>
    <script>
        const sliderCam = document.getElementById('camera');
        const anguloCam = document.getElementById('anguloCam');
        const sliderBas = document.getElementById('base');
        const anguloBas = document.getElementById('anguloBas');

        sliderCam.addEventListener('input', function() {
            anguloCam.textContent = sliderCam.value;
        });

        sliderBas.addEventListener('input', function() {
            anguloBas.textContent = sliderBas.value;
        });

        anguloCam.textContent = sliderCam.value;
        anguloBas.textContent = sliderBas.value;
    </script>
</body>
</html>