{% extends "basePage.html" %}

{% block title %}Desarrolladores:{% endblock %}

{% block content %}


    <div class="glasses">
        <div class="container">
           <div class="row">
              <div class="col-md-10 offset-md-1">
                 <div class="titlepage">
                    <h2 id= "tituloDesarrolladores">Desarrolladores:</h2>
                    <p id= "p1">Los desarrolladores de este proyecto son los estudiantes de segundo ciclo
                     de la carrera de computación de la Universidad Nacional de Loja-Ecuador.</p>
                 </div>
              </div>
           </div>
        </div>
        <div class="container-fluid">
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="glasses_box">
                    <figure><img src="https://i.ibb.co/7SD8pm9/danielS.jpg" alt="#"/></figure>
                    <h3><span class="blu">-</span>Holguer Daniel Sánchez Valle</h3>
                    <p>Estudiante Univesidad Nacional de Loja</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="glasses_box">
                    <figure><img src="https://i.ibb.co/XSmdmxs/tuy.jpg" alt="#"/></figure>
                    <h3><span class="blu">-</span>Alexis Vinicio Román Avila</h3>
                    <p>Estudiante Univesidad Nacional de Loja</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="glasses_box">
                    <figure><img src="https://i.ibb.co/L01JwBx/IMG-20240221-070614-508.jpg" alt="#"/></figure>
                    <h3><span class="blu">-</span>Manuel Benito Minga Chalán</h3>
                    <p>Estudiante Univesidad Nacional de Loja</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="glasses_box">
                    <figure><img src="https://i.ibb.co/X3ZpFwd/Imagen-de-Whats-App-2024-06-07-a-las-00-28-28-41b9c933.jpg" alt="#"/></figure>
                    <h3><span class="blu">-</span>Emilio Ramiro Jaramillo Chamba</h3>
                    <p>Estudiante Univesidad Nacional de Loja</p>
                 </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                 <div class="glasses_box">
                    <figure><img src="https://i.ibb.co/88TrgQh/iourt.jpg" alt="#"/></figure>
                    <h3><span class="blu">-</span>Josue Rodolfo Torres Guiracocha</h3>
                    <p>Estudiante Univesidad Nacional de Loja</p>
                 </div>
              </div>
              
           </div>
        </div>
     </div>

    
{% endblock %}