{% extends "basePage.html" %}
{% load static %}

{% block title %}
Funcionamiento
{% endblock  %}

{% block styles %}
{% endblock  %}

{% block content %}
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#banner1" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <h1> <span class="blu">Diagrama de Clases <br></span>Diagrama de Clases para app del proyecto.</h1>
                            <img src="https://i.ibb.co/bXW2PZD/329444411-66bca65e-eeb0-44f2-ab53-42f265d3af67-1.jpg" alt="Imagen" width="840" height="630">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}