{% extends "basePage.html" %}

{% block title %} Documentación {% endblock %}

{% block content %}

<div class="glasses">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <div class="titlepage">
                <h2 class = "margintitle">Documentacion</h2>
                <p>El proyecto JABED Robotics es un proyecto de la Universidad Nacional de Loja, que tiene como objetivo principal la recolección de basuras ne un espacio físico.</p>
                </p>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Componentes.JPG/800px-Componentes.JPG" alt="#"/></figure>
                <h3><span class="blu">-</span>Materiales</h3>
                <p>Materiales que se utilizaran en el proyecto</p>
                <div class="col-md-12">
                  <a class="read_more" href="{% url 'materiales' %}">Ver más</a>
               </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://i.ibb.co/QF5cLxM/Imagen-de-Whats-App-2024-02-26-a-las-02-20-27-d4ad993d.jpg" alt="#"/></figure>
                <h3><span class="blu">-</span>Funcionamiento</h3>
                <p>Funcionamiento del Proyecto de Brazo Robotico.</p>
                <div class="col-md-12">
                  <a class="read_more" href="{% url 'funcionamiento' %}">Ver más</a>
               </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://www.galileo.edu/fisicc/files/2020/06/preview_video_fisicc-compressor.jpg" alt="#"/></figure>
                <h3><span class="blu">-</span>Integración de Materias.</h3>
                <p>Conjunto de conocimientos que se aplicaran segmentados por materias</p>
                <div class="col-md-12">
                  <a class="read_more" href="{% url 'materias' %}">Ver más</a>
               </div>
             </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="https://cdn-icons-png.flaticon.com/128/863/863823.png" alt="#"/></figure>
               <h3><span class="blu">-</span>Historias de Usuario</h3>
               <p>Historias de usuarios y requerimmientos que debe tener el brazo robotico</p>
               <div class="col-md-12">
                 <a class="read_more" href="{% url 'historiaUsuario' %}">Ver más</a>
              </div>
            </div>
         </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://i.ibb.co/bXW2PZD/329444411-66bca65e-eeb0-44f2-ab53-42f265d3af67-1.jpg" alt="#"/></figure>
                <h3><span class="blu">-</span>Diagrama de Clases</h3>
                <p>Diagrama de Clases de POO</p>
                <div class="col-md-12">
                  <a class="read_more" href="{% url 'diagramaClases' %}">Ver más</a>
               </div>
             </div>
          </div>
       </div>
    </div>
 </div>x
    
{% endblock %}