{% extends 'basePage.html'%}
{% block title %}Historias de Usuario{% endblock %}
{% block content %}
<div class="banner_main">

    <h1>Historias de Usuario - Control de Brazo Robótico</h1>
<ul>
    <li>
        <h2>Historia 1</h2>
        <p>Como usuario, quiero poder controlar el movimiento del brazo robótico a través de la interfaz web para realizar tareas específicas.</p>
    </li>
    <li>
        <h2>Historia 2</h2>
        <p>Como usuario, quiero poder programar secuencias de movimientos para que el brazo robótico los ejecute automáticamente.</p>
    </li>
    <li>
        <h2>Historia 3</h2>
        <p>Como usuario, quiero recibir feedback en tiempo real del estado y posición del brazo robótico para asegurarme de que está funcionando correctamente.</p>
    </li>
</ul>

</div>
{% endblock %}