{% extends 'basePage.html'%}
{% block title %}Historias de Usuario{% endblock %}
{% block content %}
<div class="glasses">
    <div class="container">
       <div class="row">
          <div class="col-md-10 offset-md-1">
             <div class="titlepage">
                <h2 class="margintitle">Historias de Usuarios y requerimientos</h2>
                </p>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://cdn-icons-png.flaticon.com/128/6584/6584972.png" alt="#"/></figure>
                <h3><span class="blu">-</span>Historia 1</h3>
                <p>Como usuario, quiero poder controlar el movimiento del brazo robótico a través de la interfaz web para realizar tareas específicas.</p>
             </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
             <div class="glasses_box">
                <figure><img src="https://cdn-icons-png.flaticon.com/128/6584/6584972.png" alt="#"/></figure>
                <h3><span class="blu">-</span>Historia 2</h3>
                <p>Como usuario, quiero poder programar secuencias de movimientos para que el brazo robótico los ejecute automáticamente.</p>
             </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="glasses_box">
                <figure><img src="https://cdn-icons-png.flaticon.com/128/6584/6584972.png" alt="#"/></figure>
               <h3><span class="blu">-</span>Historia 3</h3>
               <p>Como usuario, quiero recibir feedback en tiempo real del estado y posición del brazo robótico para asegurarme de que está funcionando correctamente.</p>
            </div>  
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="glasses_box">
                <figure><img src="https://cdn-icons-png.flaticon.com/128/6584/6584972.png" alt="#"/></figure>
               <h3><span class="blu">-</span>Historia 4</h3>
               <p>Como usuario me gustaria que la aplicacion de control del brazo robotico cuente con imagen de video en vivo.</p>
            </div>  
        </div>
    </div>
 </div>
{% endblock %}