{% extends "basePage.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock  %}

{% block styles %}
{% endblock  %}

{% block content %}
<div class="glasses">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="titlepage">
                    <h2 class="margintitle">Implementacion de las materias impartidas en el ciclo</h2>
                    <p>Los servomotores que hemos usado para el brazo robotico son:</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <h3><span class="blu">-</span>Programacion Orientada a Objetos</h3>
                    <img src="https://4.bp.blogspot.com/-MbBkFV4pyzI/V5J6GNfR41I/AAAAAAAAByI/JN-ERBrWoOgHHdjzaXmFHXJAyIA8UAhQACLcB/s1600/POO1-450x370.jpg" alt="Programacion Orientada a Objetos">
                    <p>Usamos los conocimientos de la materia para poder desarrollar los códigos para el manejo del brazo robotico y para la web de el proyecto.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <h3><span class="blu">-</span>Diseño de Circuitos</h3>
                    <img src="https://th.bing.com/th/id/OIP.Tc9VB4U6pUmlPueujAQT0AHaFc?w=600&h=441&rs=1&pid=ImgDetMain" alt="Diseño de Circuitos">
                    <p>Usamos los conocimientos de la materia para diseñar los circuitos necesarios para alimentar el brazo robotico y sus componentes.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <h3><span class="blu">-</span>Analisis Matemático</h3>
                    <img src="https://th.bing.com/th/id/R.7c1e696a80e842ceb42ddb6b67132b9d?rik=bpTY5jf7pDeE%2bg&riu=http%3a%2f%2fs03.s3c.es%2fimag%2f_v0%2f770x420%2fc%2f6%2f7%2fmatematicas-dreams.jpg&ehk=BjaviK04lTKjKmKY93ZuJwcQS7UPolzYuZPEBqzHKCs%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="Analisis Matemático">
                    <p>Usamos los conocimientos de la materia para implementar en la lógica y en los detalles del brazo robotico.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <h3><span class="blu">-</span>Teoría de la Distribución y Probabilidad</h3>
                    <img src="https://www.esan.edu.pe/images/blog/2016/10/10/probabilidades-principal.jpg" alt="Teoría de la Distribución y Probabilidad">
                    <p>Usamos los conocimientos de esta materia para la estadistica del proyecto.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <h3><span class="blu">-</span>Emprendimiento e Innovacion Tecnologica</h3>
                    <img src="https://th.bing.com/th/id/OIP.PDhD9pFOXsrx1zGrzFILWgHaFF?rs=1&pid=ImgDetMain" alt="Emprendimiento e Innovacion Tecnologica">
                    <p>Utilizamos los conocimientos de esta materia para publicar el proyecto y tener una aceptacion buena.</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}