{% extends "basePage.html" %}

{% block title %}Detalle de Sensor{% endblock %}

{% block content %}

<div class="glasses">
    <h2 class = "servotitle">Detalle del Sensor</h2>

    <div>
        <h2>Nombre del Sensor:</h2>
        <p>{{ sensor.nombre }}</p>
    </div>

    <div>
        <h2>Voltaje</h2>
        <p>{{ sensor.VOLTAJE }}</p>
    </div>

    <div>
        <h2>Unidad de Medida: </h2>
        <p>{{ sensor.unidadMedida }}</p>
    </div>

    <div>
        <h2>Rango de Operacion: </h2>
        <p>{{ sensor.rangoOperacion }}</p>
    </div>

    <div>
        <h2>Corriente: </h2>
        <p>{{ sensor.CORRIENTE }}</p>
    </div>

</div>

{% endblock %}

