{% extends "basePage.html" %}

{% block title %}Servos{% endblock %}

{% block content %}


<div class="glasses">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <h2 class = "margintitle">Servomotores Usados:</h2>
               <p>Los servomotores que hemos usado para el brazo robotico son:
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="row">
         {%for servo in servos %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">           
               <div class="glasses_box">
                  <figure><img src="{{servo.imagen}}" alt="#"/></figure>
                  <p>{{servo.nombre}}</p>
                  <div class="col-md-12">
                     <a class="read_more" href="/servo/{{ servo.id }}">Ver más</a>
                  </div>
               </div>  
          </div>
         {%endfor%}  
      </div>
   </div>
{% endblock %}